In [48]:
import pandas as pd

In [49]:
v2 = pd.read_csv('NC_000913_2.gff', sep='\t', header=None)

v2.head()

,0,1,2,3,4,5,6,7,8
0,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,190,255,.,+,.,locus_tag b0001;name thrL;product thr_operon_l...
1,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,337,2799,.,+,.,locus_tag b0002;gene thrA;product aspartate_ki...
2,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,2801,3733,.,+,.,locus_tag b0003;gene thrB;product homoserine_k...
3,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,3734,5020,.,+,.,locus_tag b0004;gene thrC;product threonine_sy...
4,gi|49175990|ref|NC_000913.2|,Ecocyc_14.1,gene,5234,5530,.,+,.,locus_tag b0005;gene yaaX;product predicted_pr...

In [55]:
v3 = pd.read_csv('./unformatted/sequence.gff3', sep='\t', header=None)
v3 = v3[v3[2] == 'CDS']

#NEED TO CHANGE AFTER GENOME - chromosome to v2
v3[0] = 'gi|49175990|ref|NC_000913.2|'

#format info column 8
#split
all_info = v3[8].str.split(';',expand=True).replace('=',' ', regex=True)
all_info[7] = all_info[7].replace(' ','_', regex=True).replace('product_','product ', regex=True)

#filter desired info
cols = [5,6,7]
desired_info = all_info[cols].apply(lambda row: ';'.join(row.values.astype(str)), axis=1)
v3[8] = desired_info

v3.to_csv('NC_000913_3.gff', sep='\t', header=None, index=None)

v3.head()

,0,1,2,3,4,5,6,7,8
2,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,190,255,.,+,0,gene thrL;locus_tag b0001;product thr_operon_l...
4,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,337,2799,.,+,0,gene thrA;locus_tag b0002;product fused_aspart...
6,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,2801,3733,.,+,0,gene thrB;locus_tag b0003;product homoserine_k...
8,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,3734,5020,.,+,0,gene thrC;locus_tag b0004;product threonine_sy...
10,gi|49175990|ref|NC_000913.2|,RefSeq,CDS,5234,5530,.,+,0,gene yaaX;locus_tag b0005;product DUF2502_doma...

In [46]:
loc_cols = [3,4]
v3[loc_cols].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)

2                   190-255
4                 337-2,799
6               2,801-3,733
8               3,734-5,020
10              5,234-5,530
               ...
9417    4,636,696-4,638,120
9419    4,638,178-4,639,530
9421    4,639,590-4,640,306
9423    4,640,402-4,640,542
9425    4,640,942-4,641,628
Length: 4324, dtype: object

In [25]:
v3.loc[5,8]

'ID=gene-b0003;Dbxref=ASAP:ABE-0000010,ECOCYC:EG10999,GeneID:947498;Name=thrB;gbkey=Gene;gene=thrB;gene_biotype=protein_coding;gene_synonym=ECK0003;locus_tag=b0003'

In [32]:
all_info[7].replace(' ','_', regex=True).replace('product_','product ', regex=True)

2                       product thr_operon_leader_peptide
4       product fused_aspartate_kinase/homoserine_dehy...
6                               product homoserine_kinase
8                              product threonine_synthase
10         product DUF2502_domain-containing_protein_YaaX
                              ...
9417                product sensory_histidine_kinase_CreC
9419         product putative_inner_membrane_protein_CreD
9421    product DNA-binding_transcriptional_dual_regul...
9423                 product uncharacterized_protein_YjjY
9425              product putative_rRNA_methyltransferase
Name: 7, Length: 4324, dtype: object

In [47]:
#split
all_info = v3[8].str.split(';',expand=True).replace('=',' ', regex=True)
all_info[7] = all_info[7].replace(' ','_', regex=True).replace('product_','product ', regex=True)

#add coordinates
loc_cols = [3,4]
all_info['coord'] = v3[loc_cols].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
all_info['coord'] = 'position ' + all_info['coord'].astype(str)

#filter desired info
cols = [5,6,7, 'coord']
desired_info = all_info[cols].apply(lambda row: ';'.join(row.values.astype(str)), axis=1)

desired_info

2       gene thrL;locus_tag b0001;product thr_operon_l...
4       gene thrA;locus_tag b0002;product fused_aspart...
6       gene thrB;locus_tag b0003;product homoserine_k...
8       gene thrC;locus_tag b0004;product threonine_sy...
10      gene yaaX;locus_tag b0005;product DUF2502_doma...
                              ...
9417    gene creC;locus_tag b4399;product sensory_hist...
9419    gene creD;locus_tag b4400;product putative_inn...
9421    gene arcA;locus_tag b4401;product DNA-binding_...
9423    gene yjjY;locus_tag b4402;product uncharacteri...
9425    gene yjtD;locus_tag b4403;product putative_rRN...
Length: 4324, dtype: object

In [22]:
all_info[1].str.split(',',expand=True)

                            0               1              2
1     Dbxref ASAP:ABE-0000006  ECOCYC:EG11277  GeneID:944742
3     Dbxref ASAP:ABE-0000008  ECOCYC:EG10998  GeneID:945803
5     Dbxref ASAP:ABE-0000010  ECOCYC:EG10999  GeneID:947498
7     Dbxref ASAP:ABE-0000012  ECOCYC:EG11000  GeneID:945198
9     Dbxref ASAP:ABE-0000015    ECOCYC:G6081  GeneID:944747
...                       ...             ...            ...
9416  Dbxref ASAP:ABE-0014430  ECOCYC:EG10730  GeneID:948609
9418  Dbxref ASAP:ABE-0014432  ECOCYC:EG10145  GeneID:948868
9420  Dbxref ASAP:ABE-0014434  ECOCYC:EG10061  GeneID:948874
9422  Dbxref ASAP:ABE-0014437    ECOCYC:G7954  GeneID:948925
9424  Dbxref ASAP:ABE-0014442  ECOCYC:EG12309  GeneID:948924

[4464 rows x 3 columns]

In [14]:
v3[v3[2] == 'region']

,0,1,2,3,4,5,6,7,8
0,NC_000913.3,RefSeq,region,1,4641652,.,+,.,ID=NC_000913.3:1..4641652;Dbxref=taxon:511145;...